* {
    margin:0;
    padding: 0;
}
html {
    overflow:hidden;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    background:url('hbdrimi.jpg') no-repeat center center fixed;
    background-size:cover;
}
.others {
    margin:1vh;
    padding: 2vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color:RGBA(255,255,255,0.3);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
    border-radius:20px;
    box-shadow:0 8px 32px 0 RGBA(0,0,0,0.37);
}
.hbd {
    margin:2vh;
    padding:2vh;
}
.hbd span {
    font-family: 'Varela Round', sans-serif;
    font-size:20px;
    color:black;
    text-decoration: underline;
}
.name {
    font-family: 'Ubuntu', sans-serif;
    font-size:70px;
    color:#000;
}
.container p {
    margin:2vh;
    font-family: 'Varela Round', sans-serif;
    font-size:13px;
}
